# DNA Sequences Classification

Bacteria and other micro-organisms have been very import for the field of biology.
In this project E. Coli Bacteria DNA nucleotide sequences have been classified based on its Promoter class.

We shall explore the world of Bioinformatics by using Markov models, K-nearest neighbor (KNN) algorithms, Support Vector Machines (widely used), adaboost algorithm, Decision tree, Random forest classifier and such more algorithms.

- Finally we shall test our data based on the training data model and compare the results of all the algorithms through classification report.

In [2]:
# Lets start with importing all the required modules and packages and ensure their versions

import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

print('Python: {}'.format(sys.version))
print('Numpy: {}'.format(np.__version__))
print('Sklearn: {}'.format(sklearn.__version__))
print('Pandas: {}'.format(pd.__version__))

Python: 3.5.6 |Anaconda, Inc.| (default, Aug 26 2018, 21:41:56)
[GCC 7.3.0]
Numpy: 1.15.2
Sklearn: 0.20.0
Pandas: 0.23.4

## Step:1 Importing the dataset

In [3]:
# Moving further lets import our data from UCI machine learning repo

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/molecular-biology/promoter-gene-sequences/promoters.data'

# Explicitly defining the features(columns) of our data
col_names = ['Class','id','Sequence']

data  =pd.read_csv(url,names=col_names)

In [4]:
data.head()

  Class         id                                           Sequence
0     +        S10  \t\ttactagcaatacgcttgcgttcggtggttaagtatgtataat...
1     +       AMPC  \t\ttgctatcctgacagttgtcacgctgattggtgtcgttacaat...
2     +       AROH  \t\tgtactagagaactagtgcattagcttatttttttgttatcat...
3     +      DEOP2  \taattgtgatgtgtatcgaagtgtgttgcggagtagatgttagaa...
4     +  LEU1_TRNA  \ttcgataattaactattgacgaaaagctgaaaaccactagaatgc...

In [ ]:
# We now see here that our data has tab spaces between id and sequence, thus we see '\t' in front of Sequence string

# removing those extra charaters from sequence string